<% if @user %>
  <h1>Hello, <%= @user.username %> </h1>
<% end %>

  <h2>Welcome to Chitter</h2>
  <ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.message %>
      <%= peep.created_at[0...16] %>
    </li>
  <% end %>
</ul>
